*{
	margin: 0;
	padding: 0;
}
body{
	box-sizing: border-box;
	color:#555;
}
h1{
	margin: 25px;
}
@media only screen and (max-width: 500px) {
	form{
		width: 95%;
	}
	form input{
		width: 94%;
	}
}
.container{
	max-width: 1000px;
	margin: 0 auto;
}
form{
	margin: 50px auto;
	max-width: 450px;
}
.label{
	margin-bottom: 10px;
}
input{
	padding: 10px;
	width:  95%;
	margin-bottom: 10px;
	border:  thin solid #d4d4d4;
	font-size: 16px;
	outline: none;
	margin-bottom: 30px;
	margin-top: 10px;
}
input:focus{
	border-color: orange;
}
.common_radio{
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	margin-bottom: 30px;
}
.common_radio input{
	display: inline-block;
	padding: 0 0;
	margin-bottom: 0;
	width:  auto;
}
form .common_radio p{
	background-color: #f4f4f4;
	padding: 10px;
	border: thin solid #e4e4e4;
}
.error{
	color: #af4242;
	background-color: #fde8ec;
	padding: 10px;
	display: none;
}
.display-error{
    color: #af4242;
	display:  block;
	margin-bottom: 20px;
	transform: translateY(-20px);
}
.terms{
	position: relative;
	width:auto;
}
.button{
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.btn-save{
	background-color: #fff;
	border: 1px solid #4DD637;
	border-radius: 20px;
	color: #4DD637;

}
.common_radio>label >span{
	margin-left: 4px;
	font-size: 0.95rem;
	position: relative;
	bottom: 2px;
}
.btn-reset{
	background-color: #fff;
	border: 1px solid #D82E2F;
	border-radius:20px;
	color: #D82E2F;
	margin-bottom: 18px;

}
.pointer{
	cursor: pointer;
}
.success{
	margin-bottom: 30px;
	color: green;
	background-color: #d2ffd2;
	padding: 10px;
	text-align:center;
	max-width: 460px;
	margin: 0 auto;
	display: none;
}
.success.display-success{
	display: block;
}
#terms{
	font-size: 13px;
}
.common_radio >label {
	display: block;
	background-color: #f4f4f4;
	padding: 10px;
	border: thin solid #e4e4e4;
	cursor: pointer;
}
.terms{
	margin-right: 2px;
	position: relative;
	top: 2px;
}